.Body {
    font-family: 'Lato', sans-serif;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: left;
    color: white;
}

.text {
    position: absolute;
    bottom: 12%;
    left: 16.5%;
  }

.lineOne {
    font-weight: lighter;
    font-size: 130%;
    margin-bottom: 0.5%;
}

.lineTwo {
    font-weight: lighter;
    font-size: 290%;
    margin-top: 0px;
}

.lineThree {
    font-size: 105%;
    font-weight: lighter;
}

#excitement {
    margin-top: -7%;
    margin-bottom: 0%;
}

.background {
    width: 100%;
}

.button {
    background-color: #47e4c2;
    color: black;
    font-weight: 500;
    border-radius: 25px;
    padding: 1% 7% 1% 7%;
    transition: 1s;
}

.button:hover {
  background-color: white;
}

@media only screen and (min-width: 321px) and (max-width: 425px) {
    .lineThree {
        font-size: 50%;
    }
    
    .lineTwo {
        font-size: 100%
    }

    .Body {
        size: 100%;
    }

    .text {
        text-align: center;
        padding-left: 6%;
    }

    #excitement {
        margin-top: -10px;
    }
  }

  @media only screen and (max-width: 320px) {
    .lineThree {
        font-size: 50%;
    }
    
    .lineTwo {
        font-size: 100%
    }

    .Body {
        size: 100%;
    }

    .text {
        text-align: center;
        position: center;
        padding: 0px 0px 0px 0px;
    }

    #excitement {
        margin-top: -12px;
    }
  }