.Steps {
    font-family: 'Lato', sans-serif;
}

.column {
    float: left;
    width: 18.75%;
    /* padding-left: 2%; */
    /* padding-right: 2%; */
    margin-left: 5%;
    text-align: center;
    background-color: #f2f1ef;
    justify-content: center;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    display: table;
    justify-content: center;
    clear: both;
  }

  .API {
    justify-content: center;
  }

  hr {
    height:2px;
    border-width:0;
    color: #47e4c2;
    background-color: #47e4c2;
    width: 50px;
  }

  #titleNumber {
      font-weight: normal;
      font-size: 250%;
      margin-bottom: 0px; 
  }

  .titleHeading {
    font-weight: bold;
  }

  @media only screen and (max-width: 425px) {
    .column {
        width:100%;
        padding: 0% 1% 0% 1%;
        text-align: center;
        margin-left: 0px;
    }
    .titleBody {
      margin: 0% 5% 0% 5%;
    }
    

  }