.logo {
    height: 20px;
    margin-top: .5%;
    margin-left: 15%;
    margin-bottom: .5%;
}

.background {
    background-color: #222222;
}

@media only screen and (max-width: 425px) {
    .logo {
        width:80%;
        margin: 2% 15% 2% 0%;
        padding: 0% 10% 0% 10%;
    }
  }